body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 400px;
  height: 600px;
  background: rgb(233, 216, 239);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.chat-header {
  background: #440c4e;
  color: white;
  padding: 15px;
  text-align: center;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
  margin: 5px 0;
}

.message.outgoing {
  background: #440c4e;
  color: #fbf8f8;
  align-self: flex-end;
  text-align: right;
}

.message.incoming {
  background: #d5bae1;
  color: #333;
  align-self: flex-start;
  text-align: left;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #dddddd;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px 15px;
  background: #440c4e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
